# Python

**pycache**/
*.py[cod]
*.so

# Virtual Environments

.venv/
venv/
env/
ENV/

# Environment Variables

.env

# Jupyter

.ipynb_checkpoints/

# Testing & Coverage

.pytest_cache/
.coverage*
htmlcov/

# Build Files

build/
dist/
*.egg-info/

# IDEs

.vscode/
.idea/

# Logs

*.log

# OS Files

.DS_Store
Thumbs.db

# Project Data

uploads/
vector_store/

# Streamlit

.streamlit/secrets.toml

# Database

*.db
*.sqlite3
